*{
margin: 1px;
padding: 1px;
}
header {
    background-color: red;
    font-family: Arial;
    font-weight: bold;
    font-size:30px;
    color: white;
    height: 470px;
}
body{
background-color:black;
}
nav {
font-family:Arial;
font-size: 20px;
list-style:none;
}
main {
list-style: none;
}
.t1{
    font-family: Arial;
    font-weight: bold;
    font-size:30px;
    color: white;
}
a {
color:white;
text-decoration:none;
}
.diasyhora {
    font-family:Arial;
    font-size:20px;
    color: white;
    font-weight: bold;
}
.diass{
    font-family:Arial;
    color: red;
    font-size: 30px;
    font-weight: bold;
}
.horario{
    font-family:Arial;
    color: red;
    font-size: 24px;
    font-weight: bold;
}
footer{
    background-color: red;
    color: white;
}
.redes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}
.elemento{
    width: 250px;
    height: 30px;
    border: 1px solid white;
}
.wsp{
    font-family: Arial;
    font-size: 18px;
    color: white;
    background-color: green;
}
.fb{
    font-family: Arial;
    font-size: 18px;
    color: white;
    background-color: blue;
}
.ig{
    font-family: Arial;
    font-size: 18px;
    color: white;
    background-color: indianred;
}