*{
margin: 0px;
padding: 0px;
}
header {
    background-color: red;
    font-family: Arial;
    font-weight: bold;
    font-size:30px;
    color: white;
}
h3{
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
body{
background-color:black;
}
nav ul{
    margin: 0px;
    padding: 0px;
    font-family:Arial;
    font-size: 20px;
    display:flex;
    flex-wrap: wrap;
    align-items: left;
}
a{
    text-decoration: none;
    color: white;
}
.t1{
    font-family: Arial;
    font-weight: bold;
    font-size:30px;
    color: white;
}

.diasyhora {
    font-family:Arial;
    font-size:20px;
    color: white;
    font-weight: bold;
    text-align: center;
    border:1px solid white;
}
.diass{
    font-family:Arial;
    color: red;
    font-size: 24px;
    font-weight: bold;
    border:1px solid white;
}
.horario{
    font-family:Arial;
    color: red;
    font-size: 24px;
    font-weight: bold;
    border:1px solid white;
}
footer{
    background-color: red;
    color: white;
    text-align: center;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
}
.redes{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.wsp{
    text-align: left;
}
.ig{
     text-align: center;
 }
.fb{
    text-align: right;
 }