*{
    margin: 0px;
    padding: 0px;
    }
header
{
    width: 100%;
    height: 100%;
    background-color: red;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.portada{
    display:block;
    width: 60%;
    height: 300px;
    margin: 0 auto;
    margin-top: 10px;
}
h3{
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 }
nav ul{
    margin: 0px;
    padding: 0px;
    font-family:Arial;
    font-size: 20px;
    display:flex;
    flex-wrap: wrap;
    align-items: left;
}
a{
    text-decoration: none;
    color: white;
}
body {
    background-color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
footer{
    background-color: red;
     color: white;
     text-align: center;
     font-family: Arial;
     font-weight: normal;
     font-size: 15px;
}
h1{
    display: flex;
    flex-direction: column;
}
 .redes{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.wsp{
    text-align: left;
}
.ig{
     text-align: center;
 }
.fb{
    text-align: right;
}